div.jumbotron
    div.container
        div.text-center
            h1 Star++
            p A better way to manage your Github stars.

            a(href="#/create").btn.btn-success.margin-right Create Account 
                i.icon-plus

            a(href="#/login").btn.btn-success Login 
                i.icon-arrow-right
