div.container
    div.row
        div.col-lg-8.col-lg-offset-2
            h2.center-text Login
            hr
            form(novalidate, name="loginForm").form-horizontal
                //- Get username
                //- Validate:
                //-     Required: true
                div.form-group
                    label.col-lg-4.control-label Username
                    div.col-lg-8
                        //- Username input
                        input(type="text", ng-model="user.username", name="username",
                            autofocus, placeholder="Username",
                            required).form-control
                        //- Validation warnings
                        div(ng-show="loginForm.username.$dirty && loginForm.username.$invalid").alert.alert-danger
                            | Invalid: 
                            span(ng-show="loginForm.username.$error.required")
                                | Username Required. 
                //- Get password
                //- Validate:
                //-     Required: true
                div.form-group
                    label.col-lg-4.control-label Password
                    div.col-lg-8
                        //- Password input
                        input(type="password", name="password", ng-model="user.password", 
                            placeholder="Password",
                            required).form-control
                        //- Validation warnings
                        div(ng-show="loginForm.password.$dirty && loginForm.password.$invalid").alert.alert-danger
                            | Invalid: 
                            span(ng-show="loginForm.password.$error.required")
                                | Password Required. 
                div.form-group
                    div.col-lg-8.col-lg-offset-4
                        button(type="button", ng-disabled="loginForm.$invalid").btn.btn-success Login
            hr
