<div class="hero-unit">
    <h1>Star++</h1>
    <p>A better way to view and organize your github stars. To get started, just login with your github account.</p>
    <div style="text-align: center;">
        <a class="btn btn-success">Login with Github</a>
    </div>
</div>