--- yaml
layout: "main"
---
div.navbar.navbar-inverse.navbar-fixed-top
    div.container
        div.navbar-header
            a.navbar-brand(href="#/") Star++
        div(ng-show="isLoggedIn()").btn-group.navbar-btn.pull-right
            button.btn.btn-success(type="button", ng-click="logout()") Logout
            button.btn.btn-success.dropdown-toggle(type="button", data-toggle="dropdown")
                span.caret
            ul.dropdown-menu(role="menu")
                li
                    a(ng-click="delete()") Delete Account
div.container
    div.row
        div.col-lg-8.col-lg-offset-2
            h4.red.center-text
                | This is ALPHA software, and it does not so much of anything yet. If you have any problems please 
                a(href="mailto:giodamelio@gmail.com") Contact me.
    ng-view
script(src="bundle.js", type="text/javascript")
