doctype 5
html
    head
        title Star++

        //- Bootstrap CSS
        link(href="bootstrap/css/bootstrap.min.css", rel="stylesheet")

        //- Font Awesome CSS
        link(href="font-awesome/css/font-awesome.min.css", rel="stylesheet")

        //- My CSS
        link(href="main.css", rel="stylesheet")

        //- Angular
        script(src="angular/angular-1.0.8.min.js", type="text/javascript")

        //- Firebase scripts
        script(src='https://cdn.firebase.com/v0/firebase.js')
        script(src='https://cdn.firebase.com/v0/firebase-simple-login.js')
        script(src='https://cdn.firebase.com/libs/angularfire/0.3.0/angularfire.js')

        //- Bootstrap JS
        script(src="bootstrap/js/bootstrap.min.js", type="text/javascript")

        //- CM.js 
        script(src="cookie/cookie.min.js", type="text/javascript")

        //- To load livereload code
        != getBlock("scripts").toHTML()
    body(ng-app="StarPlusPlus", ng-controller="MainController")!= content
        